<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>三苑宜友数据分析</title>
    <link rel="icon" href="/static/img/SYYULOGO.png" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/static/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/js/Lightweight-Chart/cssCharts.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery-1.10.2.js"></script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">数据分析</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="#"><i class="large material-icons">track_changes</i> <strong>数据分析</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-tasks fa-fw"></i> <b>分析</b> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-suitcase fa-fw"></i> <b>品牌</b> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li></li>
            </ul>
        </nav>
		<!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                {% for channel in channels %}
                <li><a href="{{ channel.hdir }}"><i class="fa fa-fw"></i> {{ channel.name }}</a></li>
                {% endfor %}
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                {% for brand in brands %}
                <li><a href="{{ brand.hdir }}"><i class="fa fa-fw"></i> {{ brand.name }}</a></li>
                {% endfor %}
            </ul>

	   <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    {% for stat in stats %}
                    <li>
                        <a class="
                        {% if acstat == stat.name %}
                        active-menu
                        {% endif %}
                     waves-effect waves-dark" href="{{ stat.hdir }}"><i class="fa fa-bar-chart-o"></i> {{ stat.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
            <div class="header">
		    </div>
                        <h1 class="page-header">
                            {{ acstat }}
                        </h1>
            <div id="page-inner">
            {{ groupviews |safe }}
            </div>
            <!-- /. PAGE INNER  -->
            <footer><p></p></footer>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
	
	<!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>
	
	<script src="/static/materialize/js/materialize.min.js"></script>

	
    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
	
    <!-- Custom Js -->
    <script src="/static/js/custom-scripts.js"></script>

</body>

</html>